{% extends "layout.html.twig" %}
{% block contenu %}

	<div class="android-content mdl-layout__content">
		<div class="android-more-section">

			<form method="post" action="{{ path('user.validModifUser') }}" style="background-color: #99CDD8;border-radius: 15px ">

				<input class="mdl-textfield__input" name="id_utilisateur"  type="hidden" value="{{donnees.id_utilisateur}}">

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label class="mdl-textfield__label" >Nom :</label>
					<input class="mdl-textfield__input" name="name"  type="text" pattern="[A-Za-z]*" value="{{donnees.nom_utilisateur}}" placeholder="Nom"  required>
				</div>

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label class="mdl-textfield__label" >Prénom :</label>
					<input class="mdl-textfield__input" name="prenom"  pattern="[A-Za-z]*" type="text" value="{{donnees.prenom_utilisateur}}" placeholder="Prénom"  required>
				</div>
				<br>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label class="mdl-textfield__label" >Adresse :</label>
					<input class="mdl-textfield__input" name="adresse"  type="text" value="{{ donnees.adresse_utilisateur }}" placeholder="Prénom"  required>
				</div>

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label class="mdl-textfield__label" >Adresse Mail :</label>
					<input class="mdl-textfield__input" name="email"  type="email" value="{{ donnees.adresseMail_utilisateur }}" placeholder="Login"  required>
				</div>

				<br>

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label  class="mdl-textfield__label" >ville</label>
					<input class="mdl-textfield__input" name="ville"  pattern="[A-Za-z]*" type="text" placeholder="ville" value="{{ donnees.ville }}" required>
				</div>
				<br>
				<button> valider </button>
			</form>

{% endblock %}