{% extends "layout.html.twig" %}
{% block contenu %}

<div class="container">


    {% for panier in data if data is not empty %}
        <div class="row">
            <div class="col-lg-6">
                <caption>{{panier.libelle_produits}}</caption>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td> </td>
                        <td>
                            prix :{{ panier.prix_panier }} <br>
                            Quantite :{{ panier.quantite_panier }} <br>
                            Date de fin de vente : {{ panier.heure_fin_vente|date('d/m/Y H:m:s' )}}
                        </td>
                        <td>
                            <a href="{{path('panier.deleteProduit', {id: panier.id_panier})}}">Suppression</a> <br>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


{% endfor %}
</div>
{% endblock %}