

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="{{asset('images/logo.png')}}" style="
    width: 60px;
    height: 60px;">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">

              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{path('produit.showProduitsC')}}">Produits</a>
                {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 and app.session.get('droit') == 'Droit_Admin' %}
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Gestion</a>
                {% endif %}
                {% if   app.session.get('logged') is defined and  app.session.get('logged') != 1 %}
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{  path('user.login') }}">Connexion</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{  path('user.login') }}">Inscription</a>
                {% else %}
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{  path('user.choix') }}">Mon profil</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{  path('user.logout') }}">Deconnexion</a>
                {% endif %}



            </nav>

          </div>
        </div>
      </div>
      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
        {% if   app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
            Bienvenue, <br>
            {{ app.session.get('nom_utilisateur')}} {{ app.session.get('prenom_utilisateur')}}
        {% else %}
            Bienvnue sur <br>
            EasyDeals
        {% endif %}

        </span>
          <nav class="mdl-navigation">
              {% if   app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
              <a class="mdl-navigation__link" href="">Gestion du compte</a>
              {% endif %}
              <div class="android-drawer-separator"></div>
              <span class="mdl-navigation__link">Produits</span>
              <a class="mdl-navigation__link" href="{{path('produit.showProduitsC')}}">Consulter Produits</a>
              {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 and app.session.get('droit') != 'Droit_Client' %}
              <a class="mdl-navigation__link" href="">Gerer Produits</a>
              {% endif %}
              {% if   app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
              <div class="android-drawer-separator"></div>
              <span class="mdl-navigation__link" >Commandes</span>
              <a class="mdl-navigation__link" href="{{path('commande.mesCommandes')}}">Mes commandes</a>
              {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 and app.session.get('droit') != 'Droit_Client' %}
              <a class="mdl-navigation__link" href="">Commandes Clients</a>
              {% endif %}
              <div class="android-drawer-separator"></div>
              {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 and app.session.get('droit') == 'Droit_Admin' %}
              <span class="mdl-navigation__link" href="">Admin Gestion</span>
              <a class="mdl-navigation__link" href="">Users</a>

                  <a class="mdl-navigation__link" href="">Commandes</a>
                  <a class="mdl-navigation__link" href="">Produits</a>
              {% endif %}
              {% endif %}
              <span class="mdl-navigation__link" href="">Autres</span>
              {% if   app.session.get('logged') is defined and  app.session.get('logged') != 1 %}
              <a class="mdl-navigation__link" href="">Inscription</a>
              <a class="mdl-navigation__link" href="{{  path('user.login') }}">Connexion</a>
              {% else %}
              <a class="mdl-navigation__link" href="{{  path('user.logout') }}">Se deconnecter</a>
              {% endif %}
              <div class="android-drawer-separator"></div>
          </nav>
      </div>
